body {
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;

}

header {
    background-color: gray;
    color: white;
    padding: 1rem;
}

main {
    margin: 0;

}

h1 {
    text-align: center;
    margin: 0;
}

h2 {
    margin: 0;

}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

nav {
    background-color: gray;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.8rem;
    margin: 0;
 
}

p {
    margin: 1rem;
    font-size: 110%;
}

footer {
    background-color: gray;
    color: white;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 90%;
}

pre {
    font-style: italic;
}


.image {
    text-align: center;
}

.codeQuotation {
    margin: auto;
    text-align: justify;
    display: inline-block;

}